img {
  object-fit: cover;
  margin: auto;
}

main
{
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}

nav.header_nav
{
  padding: 40px;
}

a.name
{
  font-size: larger;
}

div.img
{
  width: 100%;
  height: 350px;
  position: relative;
  cursor: pointer;
}

div.img::before {
  content: '';
  opacity: 0;
  position: absolute;
  border-radius: 10px;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeded;
  transition: opacity 0.3s, width 0.3s, height 0.3s;
}

div.img:not(:hover)::before {
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 0.3s 0.3s, width 0.3s 0.3s, height 0.3s 0.3s;
}

div.img:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

#works_cont .text-center
{
  padding: 10px;
}

div.type1 p.text-center {
  margin-top: 40px;
}

div.box
{
  margin: 20px;
  margin-bottom: 15px;
  z-index: 1;
  padding-top: 20px;
}

div.type2
{
  width: 90%;
  margin: auto;
}

img.type1 {
  width: 90%;
  padding-top: 50px;
}

img.type2 {
  width: 60%;
}

#works_cont,
#profile_cont
{
  display: none;
}

#works_cont.active,
#profile_cont.active
{
  display: block;
}

#works_cont .before_text
{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#works_cont div.img:hover p.before_text {
  position: absolute;
  opacity: 1;
  z-index: 1;
  width: 100%;
}

.profile_header {
  margin-left: 200px;
}

.profile_header h1 {
  font-size: 150%;
}



@media (min-width: 768px) {
  div.res_nav {
    display: none;
  }

  
}

@media (max-width:768px) {
  div.main_nav {
    display: none;
  }

  .header__inner {
    height: inherit; /*親要素の高さを継承*/
  }

  .header__nav {
    opacity: 0;
    position: absolute;
    top: 0;
    left: -587px;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: ease .4s; /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
    text-align: center;
    z-index: 1;
  }

  .header__nav.active {
    opacity: 1;
    transform: translateX(150%); 
  }

  /* ハンバーガーメニュー */
  .header__hamburger {
  width: 30px;
  height: 100%;
  margin-top: 8px;
  }

  .hamburger {
  background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  z-index: 9999;
  }

  .hamburger span {
  width: 80%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  display: block;
  }

  .hamburger span:nth-child(1) {
  top: 0;
  }

    .hamburger span:nth-child(2) {
  margin: 10px 0;
  }

  * ハンバーガーメニュークリック後のスタイル */
  .header__nav.active {
  transform: translateX(0);
  }

  .hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
  top: -6px;
  transform: rotate(-45deg);
  }

  .nav-items {
    padding-top: 250px;
    padding-bottom: 200px;
  }
  
  /* ナビのリンク */
  .nav-items__item a {
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
  }
  
  .nav-items__item:last-child a {
    margin-bottom: 0;
  }

  nav.Menu {
    display: none;
  }

  nav.sp-menu {
    padding-top: 0;
  }

  .main_content {
    grid-template-columns: 1fr !important;
  }

  li.Menu-Group-Item {
    margin-bottom: 20px;
  }

  button.Menu-Group-Item-Link span {
    font-size: 130%;
  }

  #works_cont .before_text{
    opacity: 1;
  }

  div.img::before {
    background: none;
  }

  .active {
    display: block;
  }

  .Menu-Group-Item-Link {
    margin: 0 auto;
  }
}

.main_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
}

